/* Links background image. Text based CSS. */
body{
	background: url('../images/prism.png');
    text-align: center;
    font-size: 18px;
    line-height: 34px;
    font-family: Arial, Helvetica, sans-serif;
}
/* Turns timer number red when three seconds are left. */
.last-seconds{
  color: rgb(228, 24, 24);
}
/* Spaces buttons. */
.option{
  margin: 10px;
}
/* Adds color to buttons. */
.btn-info {
    color: #fff;
    background-color: #4aaaa5;
    border-color: #4aaaa5;
}